
body{
  background-color: #311A63;
  margin: 0;
  padding: 0;
}

.comptearebours{
  text-align: center;
}

.lancement{
  text-align: center;
  background-color: #311A63;
  color: white;
  width: 10%;
  margin-left: 45%;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  border-radius: 35px;
  border: 2px solid #C24FD7;
}

.comptearebours{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}
