body{
  background-color: #ff4546;
  margin: 0;
  padding: 0;
}
a:visited, a:link{
  text-decoration: none;
  color: white;
}

.fixed{
  position: fixed;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e03e3e;
  width: 100%;
  height: 75px;
  box-shadow: 0px 2px 5px #d13838;
}

.menu img{
  height: 75px;
  width: 100px;
  margin-left: 35px;
}

.menu nav ul{
  display: flex;
  list-style: none;
  font-size: 35px;
  width: 750px;
  justify-content: space-around;
}

.menu nav ul li{
  color: #777777;
  padding: 17px;
}

.menu nav ul li a:link:hover, .menu nav ul li a:visited:hover{
  color:  #ededed;
}

.menu nav ul li a:visited, .menu nav ul li a:link{
  color: white;
  text-decoration: none;
  font-family: 'Lily Script One', cursive;
}
.menu nav ul li:hover{
  color: white;
}

footer{
  background-color: black;
  font-family: 'Roboto', sans-serif;
  border-top: 1px solid white;
}

footer p{
  color: white;
  text-align: center;
  margin:0;
  margin-top: 20px;
}

.foot1{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: 25%;
}

.foot1 p{
  width: 50%;
}

.barre{
  background-color: white;
  width: 20%;
  height: 2px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.container{
  font-family: 'Roboto', sans-serif;
  display: flex;
}
.welcome{
  width: 960px;
  margin: auto;
}
.caddie{
  margin-left: auto;
  z-index: 2;
}
.caddie img{
  width: 100px;
  height: 100px;
  border: 2px solid #FECC00;
}
.espace_page_3{
  height: 200px;
}
.event{
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 18pt;
  margin-bottom: 50px;
}
.article{
background-color: white;
  align-items: center;
  height: 310px;
  width: 17%;
  margin-left: 35%;
  margin-right: 10%;
  z-index: 1;
  border: 2px solid black;
  margin-bottom: 100px;
}
.article img{
  width: 300px;
  height: 300px;
  margin-left: 5px;
}
.no_article{
 text-align: center;
}
.erreur{
  text-align: center;
}
.erreur img{
  width: 100px;
  height: 100px;
}
.action{
  margin-top: 35%;
}
.countdown{
  position: relative;
  width: 200px;
  height: 40px;
}
.trigger {
  border: 2px solid #fefefe;
  border-radius: 20px;
  cursor: pointer;
  color : white;
  background-color: #e74c3c;
}
.trigger:hover{
  background-color : white;
  transition: ease-in-out 0.5s ;
  color : #e74c3c;
}
.action{
  position: absolute;
  text-align: center;
  width: 170px;
  height: 37px;
}

.t_shirt{
  margin-left: 35%;

}
.t_shirt img{
  width: 500px;
  height: 500px;
  padding-top: 50px;
}
