a:visited, a:link{
  text-decoration: none;
  color: white;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e03e3e;
  width: 100%;
  height: 75px;
  box-shadow: 0px 2px 5px #d13838;
}

.menu img{
  height: 150px;
  width: 150px;
  margin-left: 35px;
}

.menu nav ul{
  display: flex;
  list-style: none;
  font-size: 35px;
  width: 750px;
  justify-content: space-around;
}

.menu nav ul li{
  color: #777777;
  padding: 17px;
}

.menu nav ul li a:link:hover, .menu nav ul li a:visited:hover{
  color:  #ededed;
}

.menu nav ul li a:visited, .menu nav ul li a:link{
  color: white;
  text-decoration: none;
  font-family: 'Lily Script One', cursive;
}
.menu nav ul li:hover{
  color: white;
}

body{
  background-color: #ff4546;
  margin: 0;
  padding: 0;
}

.commentaire{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  border: 1px solid white;
  align-items: center;
  width: 50%;
  margin-left: 25%;
  background-color: #005c96;
  border: 4px solid #0074bd;
}

.commentaire img{
  width: 100px;
  height: 100px;
  border-radius: 90;
  margin-left: 15px;
}

.commentaire img:hover{
  background-color: white;
  border-radius: 90px;
  opacity: 0.8;
  z-index:1;
}


.commentaire p{
  margin-left: 25px;
  text-align: justify;
  margin-right: 25px;
  font-family: 'Roboto', sans-serif;
}

.commentaire2{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  border: 1px solid white;
  align-items: center;
  width: 50%;
  margin-left: 25%;
  background-color: white;
  border: 2px solid grey;
}

.commentaire2 img{
  width: 100px;
  height: 100px;
  margin-right: 15px;
}

.commentaire2 img:hover{
  background-color: white;
  border-radius: 90px;
  opacity: 0.8;
  z-index:1;
}

.commentaire2 p{
  margin-right: 25px;
  text-align: justify;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
}



footer{
  background-color: black;
  font-family: 'Roboto', sans-serif;
  border-top: 1px solid white;
}

footer p{
  color: white;
  text-align: center;
  margin:0;
  margin-top: 20px;
}

.foot1{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: 25%;
}

.foot1 p{
  width: 50%;
}

.espace{
  margin-top: 500px;
}


.barre{
  background-color: white;
  width: 20%;
  height: 2px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.comptearebours{
  text-align: center;
}

.lancement{
  text-align: center;
  background-color: #311A63;
  color: white;
  width: 10%;
  margin-left: 45%;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  border-radius: 35px;
  border: 2px solid #C24FD7;
}

.titre{
  text-align: center;
  font-family: arial;
  font-style: bold;
  color: white;
}
