body{
  background-image: url(../images/Arrière-plan.jpg);
}
.menu{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu h1{
  margin-left: 50px;
}
.menu nav ul{
  display: flex;
  justify-content: space-around;
  width: 500px;
}
.menu nav ul li{
  list-style: none;
  font-family: 'Lily Script One', cursive;
  font-size: 20pt;
  width: 500px;
  border: 2px solid red;
}
.menu nav ul li a:link:hover, .menu nav ul li a:visited:hover{
  color: purple;
}
