body{
  background-image: url(../images/Arrière-plan.jpg);
  margin: 0;
  padding: 0;
}
.contenu{
  font-family: 'Roboto', sans-serif;
  margin-left: 50px;
}
.contenu img{

}
.event{
  display: flex;
}
.event .article{
  justify-content: space-between;
  margin-top: 100px;
  width: 30%;
  margin-left: 15%
}
.event .rebours{
  margin-left: 25%;
  align-items: center;
  padding-top: 200px;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #535251;
}
.menu img{
width: 200px;
}
.menu nav ul{
  display: flex;
  justify-content: space-around;
  width: 500px;
}
.menu nav ul li{
  list-style: none;
  font-family: 'Lily Script One', cursive;
  font-size: 20pt;
  border: 2px solid white;
  padding:17px;
}
.menu nav ul li a:link, .menu nav ul li a:visited{
  color: 	#a5a5a5;
}
.menu nav ul li a:link:hover, .menu nav ul li a:visited:hover{
  color: white;
}
.t-shirt img{
 margin-top: 80px;
 width: 30%;
 margin-left: 35%
}
